@import "variables";

@mixin solidBorder($thickness) { border: $thickness solid $black; }

html, body {
  height: 100%;
}

.form-module {
   margin-bottom: 15px;
   padding-left: 15px;
   padding-right: 15px;
   padding-bottom: 15px;
   // @include solidBorder(1px);
}

.form-header {
   // background-color: $black;
   border-bottom: 2px solid $black;
}

.form-title {
   margin: 20px;
}

#submitter-module {
   display: none;
}

#title {
   text-align: center;
}

#instruction {
   color: #C83C3C;
   text-align: center;
}

#formSubmitBtn {
   margin-bottom: 20px;
}

